.profilePicTop{
    width: 1.5em;
    height: 1.5em;
    position: relative;
}
.icons{
    color: black;
}
.storyPic{
    width: 1.5em;
    height: 1.5em;
    position: relative;
    border-radius: 2px !important;
}